In [2]:
#Python program to print all odd numbers in a list.

l = int(input("ENTER THE NUMBER: "))

if l % 2 != 0 :
  print("NUMBER IS ODD")

ENTER THE NUMBER: 7
NUMBER IS ODD

In [16]:
#Python program to find the sum of list elements.
r = [1,3,5,8]
re = sum (r)
print(r)

[1, 3, 5, 8]

In [13]:
#Python program to reverse a list in two ways.
u = [3, 6 ,7, 8]
u.reverse()
print (u)

[8, 7, 6, 3]

In [11]:
# Python program to find the top two maximum numbers in a list
list1=[1 , 3 ,4]
maxValue = max(list1)
print(maxValue)

4

In [19]:
#Write a program in Python to find the second highest number in an integer list.
l = [2 , 6 ,8 ,9]
max = max(list1[0])
print(max)

TypeError: ignored

In [20]:
#Python program to sort characters in descending order.
#to remove repeated character from a string
K = "NO PAIN NO GAIN"
k2=[]
for ele in K:
if ele not in k2:
k2.append(ele)
for i in range(0,len(k2)):
print(k2[i],end="")string="geeksforgeeks"
f= ""

IndentationError: ignored

In [21]:
#Python program to check if a given character is a vowel or consonant.
y= "kitrefdsa"
if

In [24]:

#Python Program to merge two lists.
LIST1= ["fire" , "jungle" , "dark", "lion"]
LIST2 = ["insert" , "home" , "pageup", "delete"]



LIST3 = LIST1 + LIST2
print(LIST3)

['fire', 'jungle', 'dark', 'lion', 'insert', 'home', 'pageup', 'delete']

In [28]:
#Python Program to calculate factorial.
num = int(input("Enter the Number :"))

fact = 1

if num < 0:
    print("Factorial of negative number is not defined")
else:
    for i in range(1,num+1):
        fact = fact * i
    print("Factorial of {} is {}".format(num, fact))

Enter the Number :98
Factorial of 98 is 9426890448883247745626185743057242473809693764078951663494238777294707070023223798882976159207729119823605850588608460429412647567360000000000000000000000